blockquote,
body,
dd,
div,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
	margin: 0;
	padding: 0
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

abbr,
acronym,
fieldset,
img {
	border: 0
}

ol,
ul {
	list-style: none
}

caption,
th {
	text-align: left
}

q:after,
q:before {
	content: ''
}

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0
}

.col-c,
.col-l,
.col_c,
.col_l,
.l {
	float: left
}

.col-r,
.col_r,
.r,
.ul-txt li span,
.ul_txt li span,
dt span {
	float: right
}

.c {
	clear: both
}

.n,
em {
	font-weight: 400;
	font-style: normal
}

.b {
	font-weight: 700
}

.i {
	font-style: italic
}

.fa {
	font-family: Arial
}

.fg {
	font-family: Georgia
}

.ft {
	font-family: Tahoma
}

.fl {
	font-family: Lucida Console
}

.fs {
	font-family: '宋体'
}

.fw {
	font-family: '微软雅黑'
}

.tc {
	text-align: center
}

.tr {
	text-align: right
}

.tl {
	text-align: left
}

.tdu {
	text-decoration: underline
}

.tdn,
.tdn:hover,
a.tdl:hover {
	text-decoration: none
}

.fc0 {
	color: #000
}

.fc3 {
	color: #333
}

.fc6 {
	color: #666
}

.fc9 {
	color: #999
}

.fcr {
	color: red
}

.fcw {
	color: #fff
}

.fcb {
	color: #00f
}

.fcg {
	color: green
}

.f0 {
	font-size: 0
}

.f10 {
	font-size: 10px
}

.f12 {
	font-size: 12px
}

.f13 {
	font-size: 13px
}

.f14 {
	font-size: 14px
}

.f16 {
	font-size: 16px
}

.f20 {
	font-size: 20px
}

.f24 {
	font-size: 24px
}

.vm {
	vertical-align: middle
}

.vtb {
	vertical-align: text-bottom
}

.vt {
	vertical-align: top
}

.vn {
	vertical-align: -2px
}

.vimg {
	margin-bottom: -3px
}

.m0 {
	margin: 0
}

.ml0 {
	margin-left: 0
}

.ml5 {
	margin-left: 5px
}

.ml10 {
	margin-left: 10px
}

.ml20 {
	margin-left: 20px
}

.mr0 {
	margin-right: 0
}

.mr5 {
	margin-right: 5px
}

.mr10 {
	margin-right: 10px
}

.mr20 {
	margin-right: 20px
}

.mt5 {
	margin-top: 5px
}

.mt10 {
	margin-top: 10px
}

.mt20 {
	margin-top: 20px
}

.mb5 {
	margin-bottom: 5px
}

.mb10 {
	margin-bottom: 10px
}

.mb20 {
	margin-bottom: 20px
}

.ml-1 {
	margin-left: -1px
}

.mt-1 {
	margin-top: -1px
}

.p1 {
	padding: 1px
}

.pl5 {
	padding-left: 5px
}

.p5 {
	padding: 5px
}

.pt5 {
	padding-top: 5px
}

.pr5 {
	padding-right: 5px
}

.pb5 {
	padding-bottom: 5px
}

.p10 {
	padding: 10px
}

.pl10 {
	padding-left: 10px
}

.pt10 {
	padding-top: 10px
}

.pr10 {
	padding-right: 10px
}

.pb10 {
	padding-bottom: 10px
}

.p20 {
	padding: 20px
}

.pl20 {
	padding-left: 20px
}

.pt20 {
	padding-top: 20px
}

.pr20 {
	padding-right: 20px
}

.pb20 {
	padding-bottom: 20px
}

.pr,
.rel {
	position: relative
}

.abs,
.pa {
	position: absolute
}

.dn {
	display: none
}

.db {
	display: block
}

.dib {
	-moz-inline-stack: inline-block;
	display: inline-block
}

.di {
	display: inline
}

.ovh {
	overflow: hidden
}

.ovs {
	overflow: scroll
}

.vh {
	visibility: hidden
}

.vv {
	visibility: visible
}

.lh14 {
	line-height: 14px
}

.lh16 {
	line-height: 16px
}

.lh18 {
	line-height: 18px
}

.lh20 {
	line-height: 20px
}

.lh22 {
	line-height: 22px
}

.lh24 {
	line-height: 24px
}

.fix {
	*zoom: 1
}

.fix:after,
.fix:before {
	display: block;
	content: "clear";
	height: 0;
	clear: both;
	overflow: hidden;
	visibility: hidden
}

.z {
	_zoom: 1
}

.h1 {
	height: 1px
}

.h5 {
	height: 5px
}

.h,
.h10 {
	height: 10px
}

.h15 {
	height: 15px
}

.h20 {
	height: 20px
}

.h,
.h1,
.h10,
.h15,
.h20,
.h5 {
	font-size: 0;
	line-height: 0;
	overflow: hidden;
	clear: both
}

/*!index**/
.row-1 {
	overflow: hidden;
	margin-bottom: 10px;
	padding: 20px 0 0
}

.row-1 .l {
	float: none
}

.row-1 .l .tit {
	color: #171717;
	font-size: 15px;
	line-height: 1.2;
	margin-bottom: 17px
}

.row-1 .l .tit p {
	margin-bottom: 4px
}

.row-1 .l .tit h3 {
	font-size: 30px;
	line-height: 1.2;
	margin-bottom: 18px
}

.row-1 .l .tit i {
	display: block;
	background-color: #0f0f0f;
	border-radius: 20px;
	width: 80px;
	height: 3px
}

.row-1 .l .txt {
	color: #505050;
	font-size: 12px;
	line-height: 1.35
}

.row-1 .l .txt p {
	margin-bottom: 28px;
	font-weight: 700
}

.row-1 .l .txt a {
	display: block;
	width: 90px;
	height: 30px;
	background-color: #fe5b62;
	line-height: 30px;
	text-align: center;
	color: #fff;
	font-size: 12px
}

.row-1 .l .txt a:hover {
	opacity: .8
}

/* .ul-ingtxt-h1 {
	overflow: hidden;
	padding-top: 16px
}

.ul-ingtxt-h1 li {
	overflow: hidden;
	margin-bottom: 21px;
	height: 130px
}

.ul-ingtxt-h1 li .con {
	background-color: #fafafa;
	overflow: hidden
}

.ul-ingtxt-h1 li .pic {
	float: left;
	width: 142px;
	height: 130px;
	text-align: center;
	line-height: 130px;
	overflow: hidden;
	margin-right: 13px
}

.ul-ingtxt-h1 li .pic img {
	display: inline-block;
	vertical-align: middle;
	max-width: 100%;
	max-height: 100%
}

.ul-ingtxt-h1 li .pic.p1 {
	background-color: #f6b110
}

.ul-ingtxt-h1 li .pic.p2 {
	background-color: #005bd9
}

.ul-ingtxt-h1 li h3 {
	font-size: 12px;
	color: #171717;
	font-family: Arial;
	margin-bottom: 4px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis
}

.ul-ingtxt-h1 li .txt {
	color: #171717;
	font-size: 10px;
	overflow: hidden;
	padding-top: 10px
}

.ul-ingtxt-h1 li .txt p {
	margin-bottom: 2px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis
}
 */
.g-tit1 {
	text-align: center;
	overflow: hidden
}

.g-tit1 h3 {
	color: #000;
	font-size: 25px;
	line-height: 1.3;
	margin-bottom: 14px
}

.g-tit1 i {
	display: block;
	margin: 0 auto;
	background-color: #0f0f0f;
	width: 95px;
	height: 2px;
	border-radius: 20px
}

.row-2 {
	overflow: hidden;
	padding-bottom: 30px
}

.row-2 .img {
	text-align: center;
	margin: 0 13px 30px;
	overflow: hidden
}

.row-2 .img img {
	display: block;
	width: 100%;
	height: 100%
}

.g-tit1.mb1 {
	margin-bottom: 15px
}

.g-tit1.mb2 {
	margin-bottom: 30px
}

.g-tit1.mb2 i {
	width: 90px
}

.ul-imgtxt-h2 {
	overflow: hidden
}

.ul-imgtxt-h2 li {
	text-align: center;
	float: left;
	width: 25%;
	color: #8d8d8d;
	font-size: 10px
}

.ul-imgtxt-h2 li .pic {
	width: 40px;
	height: 40px;
	overflow: hidden;
	margin: 0 auto 13px
}

.ul-imgtxt-h2 li .pic img {
	display: block;
	width: 100%;
	height: 100%
}

.m-txt-s1 {
	overflow: hidden
}

.m-txt-s1 .l {
	float: none;
	/* max-width: 150px */
}

.m-txt-s1 .txt1 {
	text-align: left
}

.m-txt-s1 .txt1 em {
	color: #8d8d8d;
	font-size: 10px;
	letter-spacing: 10px;
	display: block
}

.m-txt-s1 .txt1 .tit {
	color: #171717;
	font-size: 18px;
	line-height: 25px;
	font-family: Arial
}

.m-txt-s1 .r {
	overflow: hidden
}

.m-txt-s1 .txt2 {
	color: #505050;
	font-size: 12px;
	line-height: 1.33;
	text-align: left;
	font-weight: 700;
	letter-spacing: 0
}

.m-txt-s1 .txt2 span {
	color: #005bd9;
	font-weight: 700;
	font-size: 20px;
	font-family: Arial;
	display: block;
	margin-bottom: 10px;
	line-height: 1.2
}

.row-a1-m {
	padding: 24px 0 30px;
	background: left -30px top 10px no-repeat;
	-webkit-background-size: auto 50%;
	background-size: auto 50%
}

.m-video-s1 {
	overflow: hidden;
	margin: 0 30px
}

.m-video-s1 .video {
	position: relative;
	background-color: #ccc;
	margin-bottom: 43px
}

.m-video-s1 .video video {
	display: block;
	width: 100%
}

.m-video-s1 .video span {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: center no-repeat #fff;
	-webkit-background-size: cover;
	background-size: cover
}

.m-video-s1 .video span i {
	position: absolute;
	width: 56.5px;
	height: 51.5px;
	background: url(../images/i-s1.png) center no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	cursor: pointer
}

.m-video-s1 .txt {
	overflow: hidden;
	color: #fff;
	width: 400px
}

.m-video-s1 .txt .tit {
	font-weight: 400;
	font-size: 18px;
	margin-bottom: 5px
}

.m-video-s1 .txt p {
	font-size: 12px;
	margin-bottom: 24px
}

.m-video-s1 .txt .more {
	display: inline-block;
	width: 82px;
	height: 25px;
	line-height: 23px;
	font-size: 10px;
	text-align: center;
	color: #fff;
	border: 1px solid
}

.m-video-s1 .txt .more:hover {
	text-decoration: underline
}

.row-a2-m {
	margin-bottom: 12px;
	background: url(../images/b-s2.png) left center no-repeat #000;
	padding: 53px 0 62px;
	-webkit-background-size: 70% 100%;
	background-size: 70% 100%
}

body {
	max-width: 750px;
	margin: 0 auto;
	color: #444;
	font-size: 12px;
	line-height: 1.5;
	font-family: "Microsoft Yahei", "PingFang SC";
	padding-top: 40px
}

.ban {
	height: 0;
	padding-bottom: 42.667%;
	background: center no-repeat;
	-webkit-background-size: cover;
	background-size: cover
}

.m-contact-s1 {
	padding: 24px 0 40px
}

.m-contact-s1 .tit {
	color: #13294b;
	font-size: 16px;
	line-height: 21px;
	font-family: Arial;
	text-align: center;
	margin-bottom: 24px
}

.m-contact-s1 .table {
	color: #13294b;
	font-size: 14px;
	border: 0;
}
.m-contact-s1 .table .tr{
	padding: 17.5px 14px;
	text-align: left;
}

.m-contact-s1 .item strong {
	font-weight: 400;
	display: block;
	margin-bottom: 8px
}

.m-contact-s1 input {
	width: 100%;
	height: 36px;
	border: 1px solid #8d8d8d;
	padding: 0 10px
}

.m-contact-s1 label {
	margin: 9px 0;
	color: #13294b;
	font-size: 16px;
	float: left;
	width: 100%;
	cursor: pointer
}

.m-contact-s1 label input[type=checkbox] {
	width: 12px;
	height: 12.5px;
	border: 1px solid #979797;
	border-radius: 4px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin-right: 17px;
	vertical-align: middle;
	cursor: pointer;
	padding: 0
}

.m-contact-s1 label input[type=checkbox]:checked {
	background: url(../images/dui.png) center center no-repeat;
	-webkit-background-size: 12px 12.5px;
	background-size: 12px 12.5px;
	border: none
}

.m-contact-s1 .s1 .item {
	vertical-align: top;
	padding-top: 4px
}

.m-contact-s1 .s1 .item strong {
	margin-bottom: 2px
}

.m-contact-s1 textarea {
	width: 100%;
	height: 147px;
	border: 1px solid #8d8d8d;
	vertical-align: top;
	position: relative;
	top: 0;
	margin-bottom: 2px;
	resize: none;
	padding: 10px
}

.m-contact-s1 .sbm {
	color: #fff;
	font-size: 12px;
	width: 320px;
	height: 35px;
	text-align: center;
	border: 0;
	background-color: #13294b;
	display: block;
	margin: 15px auto 0
}

.m-contact-s1 .sbm:hover {
	opacity: .8
}

.m-contact-s1 input,
.m-contact-s1 textarea {
	font-size: 14px;
	font-family: Arial
}

.g-tit-s1 {
	color: #13294b;
	font-size: 20px;
	line-height: 26px;
	font-family: Arial
}

.ul-imgtxt-s1 {
	overflow: hidden;
	margin: 0 -10px
}

.ul-imgtxt-s1 li {
	float: left;
	padding: 0 10px;
	width: 50%
}

.ul-imgtxt-s1 a {
	display: block
}

.ul-imgtxt-s1 .pic {
	height: 0;
	padding-top: 68%;
	position: relative;
	overflow: hidden
}

.ul-imgtxt-s1 .pic img {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0
}

.ul-imgtxt-s1 .txt {
	font-size: 19px;
	padding: 12px 0 24px
}

.g-label-s1 {
	color: #fff;
	font-size: 12px;
	padding: 4px 0 3px;
	text-align: center;
	float: left;
	width: 30px;
	background-color: #13294b;
}

.ul-imgtxt-s1 .g-label-s1 {
	margin: 3px 10px -3px 0
}

.ul-imgtxt-s1 .txt .tit {
	color: #000;
	font-weight: 400;
	font-size: 13px;
	line-height: 2.5;
	overflow: hidden;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.g-date-s1 {
	color: #8d8d8d;
	font-size: 12px;
	display: block
}

.m-txt-s2 .pic:hover img,
.ul-imgtxt-s1 li:hover .pic img {
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-o-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05)
}

.ul-imgtxt-s1 li:hover .txt .tit {
	color: #0043ec
}

.row-a1-n .g-tit-s1 {
	margin-bottom: 17px
}

.row-a1-n {
	padding: 20px 17px
}

.m-txt-s2 {
	position: relative;
	padding-top: 10px
}

.m-txt-s2 .wp {
	width: auto;
	margin: 0 16px
}

.m-txt-s2 .g-label-s1 {
	margin-left: 2px;
	margin-bottom: 14px
}

.m-txt-s2 .g-tit-s1 {
	overflow: hidden;
	width: 100%;
	margin-bottom: 8px
}

.m-txt-s2 .info {
	margin-bottom: 17px
}

.m-txt-s2 .txt {
	color: #13294b;
	font-size: 16px;
	line-height: 1.5
}

.m-txt-s2 .pic {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	height: 216px;
	background-color: #ccc;
	overflow: hidden
}

.m-txt-s2 .pic img {
	display: block;
	width: 100%;
	height: 100%
}

.m-txt-s2 .arrows {
	text-align: center;
	padding: 30px 0
}

.m-txt-s2 .arrows a {
	display: inline-block;
	margin: 0 15px;
	min-width: 60px
}

.m-txt-s2 .arrows i {
	display: block;
	height: 9px;
	width: 56px;
	margin-top: 2px
}

.m-txt-s2 .arrows .prev {
	text-align: right
}

.m-txt-s2 .arrows .next {
	text-align: left
}

.m-txt-s2 .arrows .prev i {
	background-image: url(../images/prev1.png);
	-webkit-background-size: auto 100%;
	background-size: auto 100%;
	background-repeat: no-repeat
}

.m-txt-s2 .arrows .next i {
	background-image: url(../images/next1.png);
	-webkit-background-size: auto 100%;
	background-size: auto 100%;
	background-repeat: no-repeat
}

.m-txt-s2 .arrows .s1 {
	color: #8d8d8d
}

.m-txt-s2 .arrows .prev.s1 i {
	background-image: url(../images/prev2.png)
}

.m-txt-s2 .arrows .next.s1 i {
	background-image: url(../images/next2.png)
}

.m-txt-s2 .arrows a:hover {
	opacity: .8
}

.wp1 {
	margin: 0 auto
}

.bd_1 {
	padding-top: 100px
}

.row_b1 {
	background-color: #f4f4f4
}

.m-team .top {
	font-family: PingFangSC-Semibold;
	color: #8d8d8d;
	font-size: 12px;
	margin-bottom: 24px
}

.m-team .top .tit {
	font-family: Arial;
	color: #171717
}

.g-tit_b {
	font-family: Arial;
	color: #171717;
	font-size: 16px
}

.ul-list_b .con {
	text-align: center;
	margin-bottom: 30px
}

.ul-list_b .con .pic {
	margin: 0 auto 50px
}

.ul-list_b .con .pic img {
	display: block;
	width: 100%;
	height: 100%
}

.ul-list_b .con .txt {
	font-family: PingFangSC-Regular;
	color: #505050
}

.ul-list_b .con .txt .name {
	font-family: Arial;
	color: #000
}

.m-members .item {
	cursor: pointer
}

.m-members .item .pic {
	position: relative;
	height: 0;
	padding-top: 112%;
	overflow: hidden;
	margin-bottom: 33px
}

.m-members .item .pic img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: block
}

.m-members .item .box {
	position: relative
}

.m-members .item:hover .box {
	padding: 0
}

.m-members .item .con .txt {
	font-family: PingFangSC-Regular;
	font-size: 14px;
	color: #8d8d8d;
	text-align: center
}

.m-members .item .con .txt .name {
	font-family: PingFangSC-Semibold;
	font-size: 18px;
	color: #000;
	margin-bottom: 8px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden
}

.m-members .item .con .txt .job {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden
}

.m-members .item .con1 {
	background-color: rgba(0, 67, 206, .8);
	text-align: center;
	padding: 20px 20px 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0
}

.m-members .item:hover .con1 {
	opacity: 1
}

.m-members .item .con1 .img {
	display: block;
	margin: 0 auto 13px;
	max-width: 114px
}

.m-members .item .con1 .name {
	font-family: PingFangSC-Semibold;
	font-size: 20px;
	color: #fff
}

.m-members .item .con1 .desc {
	font-family: PingFangSC-Regular;
	font-size: 14px;
	color: #fff
}

.m-members .item .con1 .link {
	display: block;
	margin: 0 auto;
	width: 71px;
	height: 71px;
	background: url(../images/c_3.png) center center no-repeat;
	background-size: auto 70px
}

.m-members .slider.slick-slider .slick-dots {
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	bottom: 0;
	width: 100%;
	text-align: center
}

.m-members .slider.slick-slider .slick-dots li {
	display: inline-block;
	width: 40px;
	height: 3px;
	margin: 0 9px;
	background-color: #bcbcbc;
	cursor: pointer
}

.m-members .slider.slick-slider .slick-dots button {
	display: none
}

.m-members .slider.slick-slider .slick-dots li.slick-active {
	background-color: #000;
	width: 64px
}

.row_c1 {
	background-color: #f6f6f6
}

.m-serv {
	background: url(../images/c_4.png) left bottom no-repeat
}

.m-serv .txt .em {
	color: #000
}

.m-serv .txt span {
	font-family: Arial;
	font-size: 25px;
	color: #404040;
	font-weight: 700
}

.m-serv .txt .en {
	overflow: hidden;
	font-size: 12px;
	color: #404040;
	/* margin-top: 10px */
}

.row_c2 .g-tit1 {
	background-color: #f6f6f6
}

.g-img {
	overflow: hidden
}

.g-img img {
	display: block;
	width: 100%
}

.ul-imgtxt .con {
	text-align: center;
	/* border-right: 1px solid #d3d3d3 */
}

.ul-imgtxt .con .img {
	display: block;
	background-repeat: no-repeat;
	background-position: center center
}

.ul-imgtxt .con h4 {
	font-family: Arial;
	color: #141414
}

.ul-imgtxt .con .txt {
	color: #8d8d8d
}

.ul-imgtxt .con .info {
	line-height: 1.9;
	color: #000
}

.ul-imgtxt .con p {
	white-space: nowrap;
	font-weight: 700
}

a {
	color: #444;
	text-decoration: none
}

img {
	max-width: 100%;
	transition: .3s;
	-ms-transition: .3s;
	-moz-transition: .3s;
	-webkit-transition: .3s;
	-o-transition: .3s
}

input,
select,
textarea {
	font-size: 12px;
	color: #444;
	font-family: "微软雅黑", "Microsoft Yahei";
	outline: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box
}

input[type=button],
input[type=reset],
input[type=submit],
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none
}

input[type=button],
input[type=reset],
input[type=submit] {
	cursor: pointer
}

::-webkit-input-placeholder {
	color: #999
}

::-moz-placeholder {
	color: #999
}

::-ms-input-placeholder {
	color: #999
}

select::-ms-expand {
	display: none
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
	-webkit-appearance: none
}

.ani {
	transition: .3s;
	-ms-transition: .3s;
	-moz-transition: .3s;
	-webkit-transition: .3s;
	-o-transition: .3s
}

.wp,
.wp2 {
	margin: 0 16px
}

.h50 {
	height: 50px;
	clear: both;
	overflow: hidden
}

.h100 {
	height: 100px;
	clear: both;
	overflow: hidden
}

* {
	outline: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box
}

.bd-hs {
	padding-top: 0
}

.bd-hs .header {
	background-color: transparent;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99;
	background-color: #fff;
	max-width: 750px;
	margin: 0 auto;
	height: 40px;
	padding: 12px 16px 0
}

.header.fixed {
	background-color: #fff
}

.bd-hs .logo .img1,
.header.fixed .logo .img2 {
	/* display: block */
}

.bd-hs .logo .img2,
.header.fixed .logo .img1 {
	/* display: none */
}

.logo {
	overflow: hidden;
	width: 88px;
	height: 25px
}

.logo img {
	/* width: 100%;
	height: 100% */
}

.logo .img1 {
	/* display: none */
}
.header.open{
	background-color: #fff;
}
.header.open .logo .img1 {
    /* display: none; */
}
.header.open .logo .img2 {
    /* display: block; */
}
.nav {
	position: fixed;
	top: 40px;
	left: 0;
	right: 0;
	bottom: 0;
	padding-top: 38px;
	background-color: #fff;
	max-width: 750px;
	margin: 0 auto;
	display: none;
	z-index: 99;
	overflow-y: auto;
}

.nav ul {
	overflow: hidden
}

.nav ul li {
	overflow: hidden;
}

.nav li .v1 {
	display: block;
	text-align: center;
	font-size: 16px;
	color: #000;
	line-height: 50px;
	font-family: Arial
}

.header.fixed .nav li .v1 {
	color: #000
}

.header.fixed .nav li.on .v1,
.nav li.on .v1 {
	border-bottom: 1px solid #000
}

.bd-hs .nav li.on .v1 {
	border-bottom: 1px solid #fff
}

.nav li .v1:hover {
	color: #0043ce
}

.nav dl {
	position: relative;
	cursor: pointer;
	text-align: center
}

.nav dt {
	font-size: 16px;
	color: #333;
	line-height: 2;
	display: inline-block;
	padding-right: 18px;
	background: url(../images/h-4.png) right center no-repeat
}

.nav dl dd {
	display: none;
	position: absolute;
	top: 36px;
	left: 0;
	right: 0;
	text-align: center;
	margin-left: -18px
}

,
.bd-hs .nav dd a {
	color: #fff
}

.nav dd a {
	font-size: 16px;
	color: #333;
	line-height: 2;
	display: block
}

.banner .item {
	overflow: hidden;
}
.banner .item .pic{
	height: 0;
	padding-bottom: 70.53%;
	-webkit-background-size: 100% auto;
	-moz-background-size: 100% auto;
	-o-background-size: 100% auto;
	background-size: 100% auto;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-color: #000;
}
.ban-news .slick-dots,
.banner .slick-dots {
	position: absolute;
	bottom: 5px;
	left: 16px
}

.ban-news .slick-dots li,
.banner .slick-dots li {
	float: left;
	margin: 0 4px
}

.ban-news .slick-dots button,
.banner .slick-dots button {
	background: #6c6c6c;
	border: none;
	font-size: 0;
	width: 4px;
	height: 4px;
	padding: 0;
	border-radius: 50%
}

.ban-news .slick-dots li.slick-active button ,
.banner .slick-dots li.slick-active button {
	background-color: #fff
}

/* .footer {
	background-color: #e9e9e9;
	overflow: hidden
}

.footer .links {
	text-align: center;
	padding: 20px 0 19px;
	border-bottom: 2px solid #ccc
}

.footer .links a {
	display: inline-block;
	color: #000;
	font-size: 14px;
	margin: 0 12px
}

.footer .links a:hover {
	color: #0043ce
}

.footer .contact {
	overflow: hidden;
	padding-top: 24px
}

.footer .contact .txt {
	font-size: 10px;
	color: #8d8d8d;
	line-height: 1.3;
	text-align: center;
	margin-bottom: 24px
}

.footer .contact .txt h3 {
	font-size: 12px;
	color: #000;
	margin-bottom: 10px;
	font-weight: normal;
} */

.bd-hs .menuBtn {
	background-image: url(../images/icon-h6.png)
}

.bd-hs .header.fixed .menuBtn {
	background-image: url(../images/icon-h5.png)
}

.menuBtn {
	position: absolute;
	display: block;
	z-index: 99;
	top: 12px;
	right: 12px;
	width: 20px;
	height: 20px;
	cursor: pointer;
	transition: .3s;
	-ms-transition: .3s;
	-moz-transition: .3s;
	-webkit-transition: .3s;
	-o-transition: .3s;
	background: url(../images/icon-h5.png) no-repeat;
	-webkit-background-size: cover;
	background-size: cover
}

.bd-hs .header.fixed .menuBtn.open,
.menuBtn.open {
	background-image: url(../images/close.png)
}

.ul-imgtxt {
	padding-top: 30px;
	margin-bottom: 50px
}

.m-members .slider,
.row_b1,
.row_b2 {
	padding: 40px 0
}

.m-members .slider {
	margin-top: 0
}

.m-members .item .box {
	padding: 20px
}

.m-members .item .con1 .desc,
.m-members .item .con1 .name {
	margin-bottom: 15px
}

.row_b1,
.row_b2,
.row_c3 {
	padding-top: 20px;
	padding-bottom: 0
}

.m-team .top .tit {
	margin-bottom: 12px;
	font-size: 20px
}

.ul-list_b {
	overflow: hidden;
	padding-top: 20px
}

.ul-list_b li {
	float: left;
	width: 50%
}

.ul-list_b .con .pic {
	/* width: 88px;
	height: 88px; */
	margin-bottom: 10px
}

.ul-list_b .con .txt {
	font-size: 12px
}

.ul-list_b .con .txt .name {
	font-size: 12px;
	margin-bottom: 4px
}

.ul-members {
	/* overflow: hidden; */
	padding-top: 20px
}

.ul-members .con {
	overflow: hidden;
	margin-bottom: 24px
}

.ul-members .con .pic{
	width: 120px;
	height: 154px;
	float: left;
	margin-right: 16px
}

.ul-members .con .pic img {
	display: block;
	width: 100%;
	height: 100%
}

.ul-members .con .txt {
	font-family: PingFangSC-Regular;
	font-size: 12px;
	color: #8d8d8d;
	overflow: hidden
}

.ul-members .con .name {
	font-family: Arial;
	font-size: 16px;
	color: #000;
	margin-bottom: 7px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden
}

.ul-members .con .job {
	font-family: PingFangSC-Regular;
	font-size: 12px;
	color: #505050;
	margin-bottom: 7px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden
}

.ul-members .con .desc {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
	height: 50px
}

.ul-members .con .link {
	display: block;
	width: 35px;
	height: 35px;
	margin-top: 12px;
	background: url(../images/lianjie.png) center center no-repeat;
	background-size: auto 35px
}

.wp1 {
	width: 96%
}

.m-serv {
	height: auto;
	background-position: right 20px;
	background-size: 280px auto
}

.m-serv .txt {
	overflow: hidden;
	color: #1c1c1c;
	font-size: 12px;
	line-height: 1.3;
	padding: 70px 6px 0
}

.m-serv .txt .em {
	float: none;
	display: block;
	font-size: 90px;
	line-height: 1;
	margin-left: -10px;
	margin-bottom: -10px
}

.row_c2 .g-tit1 {
	padding: 20px 0 38px
}

.row_c2 .g-tit1 h3 {
	font-size: 20px;
	margin-bottom: 0
}

.row_c2 .g-tit1 i {
	display: none
}

.row_c3 .g-tit-s1 {
	font-size: 20px;
	text-align: left
}

.ul-imgtxt li {
	float: none;
	width: auto
}

.ul-imgtxt .con {
	height: auto;
	padding: 0 10px;
	border-right: none;
	/* border-bottom: 1px solid #979797 */
}

.ul-imgtxt li:last-child .con {
	border-right: none;
	border-bottom: none
}

.ul-imgtxt .con h4 {
	font-size: 16px;
	margin-bottom: 6px
}

.ul-imgtxt .con .info,
.ul-imgtxt .con .txt {
	font-size: 12px;
	height: auto;
	margin-bottom: 30px
}

.ul-imgtxt .con .img {
	width: 176px;
	height: 176px;
	margin: 0 auto;
	background-size: cover
}

[v-cloak] {
	display: none;
}

@font-face {
	font-family: Arial;
	/* src: url(../fonts/futura_medium1.ttf) */
}

@font-face {
	font-family: Arial;
	/* src: url(../fonts/FuturaBold.ttf) */
}

@font-face {
	font-family: Arial;
	/* src: url(../fonts/FuturaLight.ttf) */
}

#app {
	font-family: "Microsoft Yahei";
}

#app.en {
	font-family: Arial, "Microsoft Yahei";
}

#app.en .ul-imgtxt-s1 .txt {
	padding-top: 10px;
	font-size: 14px;
}
.f-content{
	margin-bottom: 20px;
}
body{
	overflow-x: hidden;
}
.m-contact-s1 form{
	width: 100%;
	display: block;
}
.m-contact-s1 .sbm{
	max-width: 320px;
	width: 100%;
}
.fd-link{
	padding-top: 20px;
	text-align: center;
}
.fd-link a{
	margin: 0 5px;
	width: 30px;
	height: 30px;
	display: block;
	background: url(../images/fd-link01.png) center center no-repeat;
	-webkit-background-size: 30px auto;
	background-size: 30px auto;
	display: inline-block;
	vertical-align: middle;
}
.fd-link a.s2{
	background-image: url(../images/fd-link02.png);
}
.fd-link a.s3{
	background-image: url(../images/fd-link03.png);
}
.fd-link a.s4{
	background-image: url(../images/fd-link04.png);
}
/* 191010 修改*/
.g-tit_b{
	font-size: 18px;
	color: #13294B;
	font-weight: bold;
}

/* 团队 */
.row_b1 {
    padding-top: 30px;
    padding-bottom: 25px;
}
/* ul-list_b */
.ul-list_b{
	padding-top: 10px;
	margin: 0 -22px;
}
.ul-list_b li{
	margin-bottom: 0;
	padding: 12px 18px;
}
.ul-list_b .con{
	margin-bottom: 0;
	padding: 16px 22px 7px;
	background: #fff;	 
	-webkit-box-shadow: 0 1px 7px 0 rgba(0,0,0,0.12);
	box-shadow: 0 1px 7px 0 rgba(0,0,0,0.12);
	border-radius: 4px;
}
.ul-list_b .pic{
	margin-bottom: 31px;
	border-radius: 4px; 
	overflow: hidden;
}
.ul-list_b .pic .inner{
	padding-top: 106.62%;
	position: relative;
}
.ul-list_b .pic img{
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
}
.ul-list_b .con .txt .name{
	margin-bottom: 7px;
	font-size: 12px;
	line-height: 14px;
	color: #13294b;
	font-weight: bold;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.ul-list_b .con .txt{
	color: #13294b;
	font-size: 12px;
	line-height: 14px;
}
.ul-list_b .con .txt .job{
	height: 28px;
	line-height: 28px;
	font-size: 0;
	display: -webkit-box;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-all;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}
.ul-list_b .con .txt .job p{
	font-size: 12px;
	line-height: 14px;
	display: inline-block;
	vertical-align: middle;
	word-break: normal;
}
/* ul-list_b end */
/* row_b2 */
.row_b2{
	padding-top: 52px;
	padding-bottom: 30px;
}
.m-members .more{
	margin: 0 auto;
	width: 100px;
	height: 30px;
	display: block;
	line-height: 28px;
	border-radius: 4px;
	overflow: hidden;
	border: 1px solid #979797;
	text-align: center;
	background: #fff;
	font-size: 12px;
	color: #8d8d8d;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}
.m-members .more:active{
	background: #13294b;
	border-color: #13294b;
	color: #fff;
}
/* ul-members */
.ul-members{
	margin-bottom: 20px;
}
.ul-members .con{
	margin-bottom: 16px;
	padding: 6px 5px 7px;
	background: #fff;	 
	-webkit-box-shadow: 0 1px 7px 0 rgba(0,0,0,0.12);
	box-shadow: 0 1px 7px 0 rgba(0,0,0,0.12);
	border-radius: 4px;
}
.ul-members .con .pic{
	margin-right: 10px;
	width: 87.5px;
	height: auto;
	border-radius: 4px;
	overflow: hidden;
}
.ul-members .con .txt{
	padding-right: 54px;
	position: relative;
}
.ul-members .con .txt .inner{
	padding-top: 4px;
	padding-right: 10px;
	position: relative;
}
.ul-members .con .txt .inner:after{
	content: "";
	height: 70px;
	border-left: 1px solid #d3d3d3;
	display: block;
	position: absolute;
	right: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.ul-members .con .txt .link{
	width: 25px;
	height: 25px;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	position: absolute;
	right: 10px;
	top: 40%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.ul-members .con .name{
	margin-bottom: 5px;
	font-size: 16px;
	line-height: 19px;
	color: #13294b;
	font-weight: bold;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.ul-members .con .job{
	margin-bottom: 6px;
	font-size: 12px;
	line-height: 16px;
	color: #505050;
}
.ul-members .con .desc{
	font-size: 10px;
	line-height: 15px;
	color: #8d8d8d;
	height: auto;
	min-height: 45px;
    display: block;
    -webkit-line-clamp: auto;
}
/* ul-members end */
/* row_b2 end */
/* 团队 end */

/* 服务 */
/* row_c1 */
.row_c1{
	padding-top: 26px;
	padding-bottom: 26px;
}
.m-serv{
	padding-top: 50%;
	-webkit-background-size: 90% auto;
	background-size: 90% auto;
	background-position: center 0;
}
.m-serv .txt .em{
	margin-top: 0;
	margin-right: 4px;
	font-size: 36px;
	line-height: 41px;
	color: #000;
	float: left;
	margin-left: 0;
	margin-bottom: 0;
}
.m-serv .txt{
	padding-top: 0px;
	font-size: 10px;
	line-height: 1.5;
	color: #13294b;
}
.m-serv .txt .en{
	padding-top: 22px;
	overflow: hidden;
	color: #13294b;
}
/* row_c1 */
/* row_c3 */
.row_c3 {
    padding-top: 35px;
}
.row_c3 .g-tit-s1{
	margin-bottom: 50px;
	color: #13294b;
	font-size: 18px;
	line-height: 21px;
}
.ul-imgtxt{
	padding-top: 0;
	margin-bottom: 15px;
}
.ul-imgtxt li{
	margin-bottom: 20px;
}
.ul-imgtxt .con:after{
	content: "";
	max-width: 250px;
	margin: 0 auto;
	display: block;
	border-top: 1px solid #d3d3d3;
}
.ul-imgtxt li:last-child .con:after{
	display: none;
}
.ul-imgtxt .con .img{
	height: 57.5px;
	margin-bottom: 16px;
	-webkit-background-size: auto 100%;
	background-size: auto 100%;
}
.ul-imgtxt .con h4{
	font-size: 16px;
	line-height: 1.5;
	color: #13294b;
}
.ul-imgtxt .con .txt{
	margin-bottom: 16px;
	font-size: 10px;
	line-height: 1.5;
	color: #8d8d8d;
	font-weight: normal;
}
.ul-imgtxt .con .info{
	margin-bottom: 20px;	
	font-size: 10px;
	line-height: 1.5;
	color: #13294b;
}
/* row_c3 end */
/* 服务 end */
/* 首页 */

@font-face{
	font-family: "Poppins-Bold";
	src: url("../fonts/Poppins-Bold.ttf");
}
@font-face{
	font-family: "Poppins-Light";
	src: url("../fonts/Poppins-Light.ttf");
}
@font-face{
	font-family: "Poppins-Medium";
	src: url("../fonts/Poppins-Medium.ttf");
}
@font-face{
	font-family: "Poppins-Regular";
	src: url("../fonts/Poppins-Regular.ttf");
}
@font-face{
	font-family: "Poppins-SemiBold";
	src: url("../fonts/Poppins-SemiBold.ttf");
}
.f-share01 {
	position: absolute;
	bottom: 10px;
	right: 4px;
}

.f-share01 a {
	display: inline-block;
	width: 21px;
	height: 21px;
	margin: 0 12px;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}
.f-share01 a:hover{
	opacity: 0.8;
}
.f-share01 .a1 {
	background-image: url(../images/icon-h1.png)
}

.f-share01 .a2 {
	background-image: url(../images/icon-h2.png)
}

.f-share01 .a3 {
	background-image: url(../images/icon-h3.png)
}

.f-share01 .a4 {
	background-image: url(../images/icon-h4.png)
}
/* header */

.header{
	padding-top: 6px;
	padding-left: 0;
	padding-right: 0;
	z-index: 200;
}
.logo{
	width: auto;
}
.bd-hs .header.fixed .logo p,
.logo p{
	margin-left: 10px;
	font-size: 16px;
	color: #000;
	display: inline-block;
	vertical-align: middle;
	font-family: "Poppins-Light";
}
.bd-hs .logo p{
	color: #fff;
}
.logo a{
	height: 24px;
	line-height: 24px;
	display: block;
	white-space: nowrap;
}
.logo a .img1{
	width: auto;
	height: 100%;
	display: inline-block;
	vertical-align: middle;
}
/* header end */
/* footer */
.footer{
	padding-top: 27px;
	padding-bottom: 43px;
	background: #13294b;
	overflow: hidden;
}
.footer .left{
	position: relative;
	text-align: center;
}
.footer .right{
	padding-top: 30px;
	overflow: hidden;
	text-align: center;
}
.footer .right{
}
.footer .f-share01{
	position: static;
	overflow: hidden;
}
.footer .f-share01 a{
	margin: 0 14px;
	width: 24px;
	height: 24px;
}
.fd-logo{
	font-family: Poppins-Regular;
	font-size: 30px;
	line-height: 40px;
	color: #FFFFFF;
	letter-spacing: 0;
}
.copyright{
	margin-bottom: 28px;
	font-size: 10px;
	color: #FFFFFF;
	letter-spacing: 0;
}
.fd-contact{
	padding-top: 30px;
	font-size: 13px;
	line-height: 16px;
	color: #fff;
	position: relative;
}
.fd-contact:after{
	content: "";
	margin: 0 auto;
	width: 60px;
	border-top: 1px solid #fff;
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
}
.fd-contact .contact{
	margin-top: 10px;
	font-size: 12px;
	line-height: 14px;
	font-weight: bold;
}
/* footer end */
body{
	/* padding-top: 40px!important; */
}
.banner{
	position: relative;
}
.banner .item .pic{
	padding-bottom: 58.67%;
}
.slider-nav{
}
.slider-nav .pic{
	position: relative;
}
.banner .txt{
	z-index: 5;
	position: absolute;
	top: 60%;
	left: 0;
	right: 0;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.banner .txt .con{
	max-width: 610px;
}
.banner .txt h3{
	margin-bottom: 9px;
	font-size: 20px;
	line-height: 1;
	color: #FFFFFF;
	font-weight: normal;
	font-family: Poppins-Light;
}
.banner .txt .desc{
	margin-bottom: 12px;
	font-family: Poppins-Regular;
	font-size: 7px;
	color: #FFFFFF;
	line-height: 12px;
}
.banner .txt .more{
	width: 82px;
	height: 25px;
	font-size: 9px;
	color: #FFFFFF;
	line-height: 23px;
	text-align: center;
	display: block;
	border: 1px solid #FFFFFF;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}
.banner .txt .more:hover{
	background: #13294B;
	border-color: #13294B;
}
.g-tit1 h3{
	margin-bottom: 0;
	color: #13294b;
	text-align: left;
}
.g-tit1 i{
	display: none;
}
/* row-f01 */
.row-f01{
	padding-top: 27px;
	padding-bottom: 40px;
	/* background: url(../images/f1-bg01.png) center bottom no-repeat; */
	background: url(../images/m-bg01.png) 0 bottom no-repeat,url(../images/m-bg02.png)  right top no-repeat;
	-webkit-background-size: auto 60%;
	background-size: auto 60%;
}
.row-f01 .g-tit1{
	margin-bottom: 24px;
}
/* m-vision */
.m-vision{
	overflow: hidden;
}
.ul-vision{
	overflow: hidden;
}
.ul-vision li{
	margin-bottom: 30px;
	overflow: hidden;
}
.ul-vision .pic{
	margin-right: 23px;
	width: 82px;
	height: 82px;
	float: left;
}
.ul-vision .pic img{
	width: 100%;
	height: 100%;
	display: block;
}
.ul-vision .txt{
	overflow: hidden;
}
.ul-vision .txt h3{
	margin-bottom: 9px;
	font-size: 16px;
	color: #13294B;
	line-height: 18px;
	display: -webkit-box;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-all;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}
.ul-vision .txt .desc{
	font-size: 10px;
	color: #13294b;
}
/* m-vision end */
/* row-f01 end */
/* row-a1-m */
.row-a1-m{
	-webkit-background-size: auto 80%;
	background-size: auto 80%;
	background-position: -80px;
}
.m-txt-s1 .l{
	float: none;
}
.m-txt-s1 .txt1 .tit{
	margin-bottom: 16px;
	font-size: 18px;
	color: #13294B;
	letter-spacing: 0;
	line-height: 1;
}
.m-txt-s1 .txt2{
	margin-bottom: 25px;
	font-size: 10px;
	line-height: 1.5;
	color: #13294b;
}
/* m-iconList01 */
.m-iconList01{
	font-size: 0;
	overflow: hidden;
}
.m-iconList01 .item{
	margin-right: 35px;
	width: 28px;
	display: inline-block;
}
.m-iconList01 .item img{
	width: 100%;
	height: auto;
	display: block;
}
.m-iconList01 .item:last-child{
	margin-right: 0;
}
/* m-iconList01 end */
/* row-a1-m end */

/* row-1 */
.row-1{
	padding-bottom: 25px;
	overflow: hidden;
}
.row-1 .g-tit1{
	margin-bottom: 10px;
}
.row-1 .g-tit1 h3{
	font-size: 20px;
}
.ul-ingtxt-h1{
	overflow: hidden;
}
.ul-ingtxt-h1 li{
	margin-bottom: 16px;
}
.ul-ingtxt-h1 .con{
	background: #f6f6f6;
	overflow: hidden;
}
.ul-ingtxt-h1 .pic{
	padding-top: 16px;
	padding-bottom: 15px;
	width: 103px;
	background: #13294b;
	float: left;
}
.ul-ingtxt-h1 .pic .icon{
	margin: 0 auto;
	width: 60px;
}
.ul-ingtxt-h1 .pic .icon img{
	width: 100%;
	height: auto;
	display: block;
}
.ul-ingtxt-h1 h3{
	font-size: 10px;
	line-height: 12px;
	color: #FFFFFF;
	text-align: center;
	font-weight: normal;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.ul-ingtxt-h1 .txt{
	padding-top: 13px;
	padding-left: 16px;
	padding-right: 10px;
	overflow: hidden;
}
.ul-ingtxt-h1 .desc{
	font-size: 10px;
	color: #13294B;
	letter-spacing: 0;
	line-height: 1.5;
}
/* row-1 end */

/* row-a2-m */
.row-a2-m{
	margin-bottom: 15px;
	padding-bottom: 0;
	background-color: #f6f6f6;
}
/* m-video-s1 */
.m-video-s1{
	margin: 0;
}
.m-video-s1 .video{
	margin-bottom: 0;
}
.m-video-s1 .video span{
	background-color: rgba(255,255,255,0.3);
}
.m-video-s1 .video video{
	background: #000;
}
.m-video-s1 .txt{
	padding-top: 16px;
	position: relative;
	color: #13294b;
}
.m-video-s1 .txt .con{
	position: relative;
}
.m-video-s1 .txt .tit{
	margin-bottom: 11px;
	font-family: Poppins-SemiBold;
	font-size: 18px;
	color: #000;
	letter-spacing: 0;
}
.m-video-s1 .txt p{
	font-size: 10px;
	color: #13294B;
	letter-spacing: 0;
	line-height: 12px;
	font-weight: bold;
}
/* m-video-s1 end */
/* row-a2-m end */

/* row-2 */
.row-2{
	padding-top: 40px;
	padding-bottom: 36px;
	background: #13294b;
}
.row-2 .g-tit1 h3{
	margin-bottom: 20px;
	font-weight: normal;
}
.row-2 .g-tit1 i{
	width: 50px;
	height: 1px;
	display: block;
	margin: 0;
}
.row-2 .g-tit1.mb1{
	margin-bottom: 16px;
}
.row-2 .g-tit1.mb2{
	margin-bottom: 22px;
}
.row-2 .g-tit1 h3{
	color: #fff;
}
.row-2 .g-tit1.mb2 h3 {
    margin-bottom: 16px;
}
.row-2 .g-tit1 i{
	background: #fff;
}
.row-2 .img{
	margin-bottom: 15px;
	margin-left: 0;
	width: 100%;
	height: 14px;
	text-align: left;
	font-size: 0;
}
.row-2 .img img{
	width: auto;
	height: 100%;
	display: inline-block;
}
.f-content{
	margin-bottom: 25px;
	font-size: 10px;
	line-height: 1.5;
	color: #fff;
}
/* ul-imgtxt-h2 */
.ul-imgtxt-h2{

}
.ul-imgtxt-h2 .pic{
	margin-bottom: 7px;
	height: 48.5px;
	line-height: 48.5px;
	text-align: center;
}
.ul-imgtxt-h2 .pic img{
	max-width: 100%;
	max-height: 100%;
	display: inline-block;
	vertical-align: middle;
}
.ul-imgtxt-h2 h3{
	text-align: center;
	font-weight: normal;
	font-size: 10px;
	color: #FFFFFF;
	letter-spacing: 0;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
/* ul-imgtxt-h2 end */
/* row-2 end */
/* row-f03 */
.row-f03{
	padding-top: 25px;
	padding-bottom: 30px;
}
.row-f03 .g-tit1{
	margin-bottom: 20px;
}
.row-f03 .g-tit1 h3{
	text-align: center;
}
/* row-f03 end */
/* ban-news */
.ban-news{
	margin-right: -50px;
	padding-bottom: 6px;
	position: relative;
}
.ban-news .item{
	padding: 12px 6px;
}
.ban-news .con{
	padding: 5px;
	background: #f6f6f6;
	border-radius: 3px;
	overflow: hidden;
}
.ban-news .pic{
	margin-bottom: 9px;
	overflow: hidden;
	border-radius: 3px;
}
.ban-news .inner{
	padding-top: 90.07%;
	position: relative;
}
.ban-news .inner img{
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}
.ban-news .txt{
}
.ban-news .txt h3{
	margin-bottom: 5px;
	height: 3em;
	font-size: 10px;
	color: #13294B;
	letter-spacing: 0;
	line-height: 1.5;
	font-weight: normal;
	display: -webkit-box;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-all;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}
.ban-news .txt .date{
	font-size: 10px;
	color: #8D8D8D;
	letter-spacing: 0;
	line-height: 12px;
}
.ban-news .slick-dots{
	font-size: 0;
	left: auto;
	right: 50px;
	bottom: 0;
}
.ban-news .slick-dots button{
	width: 7px;
	height: 7px;
	border-radius: 100%;
	background: #d3d3d3;
}
.ban-news .slick-dots li.slick-active button{
	background-color: #000;
}
/* ban-news end */
/* 首页 end */
/* 191010 修改 end */
@media only screen and (max-width:320px) {
	.m-iconList01 .item{
		margin-bottom: 5px;
		margin-right: 22px;
	}
	
}

.banner .header-inner{
	position: absolute;
	top: 35px;
	left: 0;
	right: 0;
	z-index: 5;
}
.banner .slogan{
	padding: 0 40px;
	font-size: 10px;
	color: #fff;
}