<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="renderer" content="webkit" />
    <meta name="format-detection" content="telephone=no" />
    <title>首页</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="css/style.css" />
    <script src="js/jquery.js"></script>
    <script src="js/lib.js"></script>
    <link rel="stylesheet" href="css/animate.min.css">
    <script src="js/wow.min.js"></script>
    <script src="js/vue.min.js"></script>
</head>

<body class="bd-hs">
	<div id="app" v-cloak :class="{'en': lang == 'en'}">
		<!-- 头部 -->
		<div class="header">
			<div class="wp header-inner">
				<div class="nav">
					<ul>
						<li 
							v-for="(item,index) of content.header.nav"
							:class="{'on': index == 0}"
							:key="index"
						>
							<a class="v1" :href="item.link">{{ item.name }}</a>
						</li>
					</ul>
					<div class="language">
						<dl>
							<dt>{{ content.lang }}</dt>
							<dd>
								<a 
									href="javascript:;"
									v-for="(item,index) of content.header.language"
									:key="index"
									@click="changeLanguage(index)"
								>{{ item.name }}</a>
							</dd>
						</dl>
					</div>
				</div>
				<div class="logo">
					<a href="">
						<img src="images/logo.png" alt="" class="img1" />
						<img src="images/logo2.png" alt="" class="img2" />
					</a>
				</div>
			</div>
		</div>
		<!-- 头部 -->
		<div class="banner">
			<div class="slider-nav">
				<div 
					v-for="(item,index) of content.banner"
					class="item"
				>
					<a 
						:href="item.link" 
						:style="{'backgroundImage': 'url(' + item.icon + ')'}"
					>{{ index }}</a>
				</div>
			</div>
			<div class="share">
				<a href="https://medium.com/@MagicCircleTech" class="a1"></a>
				<a href="https://twitter.com/MagicCircleTech" class="a2"></a>
				<a href="https://www.facebook.com/MagicCircleTech/" class="a3"></a>
				<a href="https://www.linkedin.com/company/19192122/admin/" class="a4"></a>
			</div>
		</div>
		<!-- 内容 -->
		<div class="row-a1-m wow fadeInUp" data-wow-delay=".3s" style="background-image: url(images/b-s1.png)">
			<div class="wp">
				<div class="m-txt-s1">
					<div class="l wow fadeInUp" data-wow-delay=".6s">
						<div class="txt1">
							 <em v-html="content.mTxtS1.txt1.em"></em>
							<h2 class="tit" v-html="content.mTxtS1.txt1.tit"></h2>
						</div>
					</div>
					<div class="r wow fadeInUp" data-wow-delay=".9s">
						<div class="txt2">
							<span  v-html="content.mTxtS1.txt2.span"></span>
							<div v-html="content.mTxtS1.txt2.desc"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row-a2-m wow fadeInUp" data-wow-delay=".3s" style="background-image: url(images/b-s2.png),url(images/b-s4.png)">
			<div class="wp">
				<div class="m-video-s1 wow fadeInUp" data-wow-delay=".6s">
					<div class="video">
						<video :src="content.mVideoS1.video" controls></video>
						<span><i class="js-play-s1"></i></span>
					</div>
					<div class="txt wow fadeInUp" data-wow-delay=".6s">
						<h3 class="tit" v-html="content.mVideoS1.tit"></h3>
						<i class="i1"></i>
						<p v-html="content.mVideoS1.desc"></p>
						<a href="-1-service.html" class="more">{{ content.mVideoS1.more }}</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row-1">
			<div class="wp2">
				<div class="l wow fadeInUp" data-wow-delay=".3s">
					<div class="tit">
						<p>{{ content.row1.left.tit }}</p>
						<h3>{{ content.row1.left.en }}</h3>
						<i></i>
					</div>
					<div class="txt">
						<div class="desc" v-html="content.row1.left.desc"></div>
						<a href="-1-contact-us.html"">{{ content.row1.left.more }}</a>
					</div>
				</div>
				<ul class="ul-ingtxt-h1" style="padding-top: 15px;">
					<li 
						v-for="item of content.row1.list"
						class="wow fadeInUp" 
						data-wow-delay=".6s"
					>
						<div class="con">
							<div class="pic p1">
								<img :src="item.img" alt="" />
							</div>
							<div class="txt">
								<h3>{{ item.h3 }}</h3>
								<div class="desc" v-html="item.desc"></div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="row-2">
			<div class="wp2">
				<div class="g-tit1 mb1 wow fadeInUp" data-wow-delay=".3s">
					<h3>{{ content.row2.h3 }}</h3><i></i>
				</div>
				<div class="img wow fadeInUp" data-wow-delay=".6s"><img :src="content.row2.img" alt="" />
				
				</div>
				<div class="f-content" v-html="content.row2.desc"></div>
				<div class="g-tit1 mb2 wow fadeInUp" data-wow-delay=".9s">
					<h3>{{ content.row2.tit }}</h3><i></i>
				</div>
				<ul class="ul-imgtxt-h2 wow fadeInUp" data-wow-delay="1.2s">
					<li
						v-for="(item,index) of content.row2.list"
						:key="index"
					>
						<div class="pic">
							<img :src="item.img" alt="" />
						</div>
						<p>{{ item.h3 }}</p>
					</li>
				</ul>
			</div>
		</div>
		<!-- 内容 -->
		<!-- 底部 -->
		<div class="footer">
			<div class="box">
				<div class="links">
					<a 
						v-for="(item,index) of content.footer.nav"
						:href="item.link"
					>{{ item.name }}</a>
				</div>
				<div class="contact">
					<div class="txt t1">
						<h3>{{ content.footer.links.tit }}</h3>
						<p>{{ content.footer.links.desc }}</p>
					</div>
					<div class="txt t2">
						<h3>{{ content.footer.contact.tit }}</h3>
						<p>{{ content.footer.contact.desc }}</p>
					</div>
				</div>
			</div>
		</div>
		<!-- 底部 -->
		
	</div>
    <link rel="stylesheet" href="css/slick.css">
    <script src="js/slick.min.js"></script>
    <script>
        
        $('body').on('click','.js-play-s1',function() {
            $('.m-video-s1 .video span').css('display', 'none');
            $('.m-video-s1 .video video').trigger('play');
        })
    </script>
    <link rel="stylesheet" href="css/animate.min.css">
    <script src="js/wow.min.js"></script>
    <script type="text/javascript">
        if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))) {
            new WOW().init();
        };
		
    </script>
	<!-- 中英文切换代码 -->
	<script src="js/index.js"></script>
	
</body>

</html>